<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded p-[1px]">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#8A2BE2_0%,#4B0082_50%,#8A2BE2_100%)]"></span>
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm rounded cursor-pointer bg-gray-800 text-white/80 backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</div>