---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro'
import AboutMe from '@/components/Aboutme.astro'
import Tools from '@/components/Tools.astro'
import BriefCase from '@/icons/Briefcase.astro'
import Code from '@/icons/Code.astro'
import UserIcon from '@/icons/UserIcon.astro'
import ToolIcon from '@/icons/ToolIcon.astro'
---

<Layout title="Porfolio de Juan Manuel - Programador y Desarrollador web" description='Especializado en crear aplicaciones web.'>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				</slot>
			</Hero>
		</SectionContainer>

		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
					<BriefCase class="size-8"/>
					Experiencia Laboral
				</h2>
				<Experience />
			</SectionContainer>
			<SectionContainer id="proyectos">
				<h2
					class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
				>
					<Code class="size-7" />
					Proyectos
				</h2>
				<Projects />
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white">
					<UserIcon class="size-7" />
					Sobre Mi
				</h2>
				<AboutMe />
			</SectionContainer>

			<SectionContainer id="herramientas">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white">
					<ToolIcon class="size-7" />
					Herramientas
				</h2>
				<Tools />
			</SectionContainer>
		</div>
	</main>
</Layout>