---
const { href } = Astro.props
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 text-md hover:bg-gray-600  group max-w-fit rounded hover:text-white"
>
  <slot />
</a>